<!DOCTYPE html>
<html>

<head>
    <title>Trending Videos Basic Information</title>
    <link rel="icon" href="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube-icon-our_icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">

</head>

<body>

    <header class="inner"  style="background-color: black;
    padding: 30px;
    text-align: center;
    width: 100%;
    font-size: 35px;
    color: white; ! important">
        <h1>Trending Youtube Videos: Search</h1>
    </header>


    <div id="main_content_wrap" class="outer">
                <h1>Welcome!</h1>
          
        <section id="main_content" class="inner">
                        <div class="container">
        <center>
            <h1>Youtube Trending Videos Database</h1>
        </center>
        <center>
            <p>Observe the basic attributes and descriptive statistics of Trending Youtube videos.</p>
        </center>

    <div>
        <center>
            <form method='POST'>
                <input name='text' placeholder="Enter a Video Title.">
                <input type='submit'>
            </form>
        </center>
   
        <nav>
                <h1>Directory</h1>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/search">Search the Database</a>
                    </li>
                    <li>
                            <a href="/query">Query the Database</a>
                    </li>
                    <li>
                        <a href="/analytics">Database Insights</a>
                    </li>
                    <li>
                        <a href="/password">The Super Secret Password</a>
                    </li>
                </ul>
            </nav>



            </div>
            </div>
        </section>
    </div>
</body>
{% if output%}

<p> Please search for a keyword! </p>
<table border="1">
    <thead>
        <tr>
            <th>videoID</th>
            <th>title</th>
            <th>publishedAt</th>
            <th>channelID</th>
            <th>channelTitle</th>
            <th>categoryId</th>
            <th>viewCount</th>
            <th>likeCount</th>
            <th>dislikeCount</th>
            <th>favoriteCount</th>
            <th>commentCount</th>
            <th>RegionCode</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for record in output %}
        <tr>
            {% for col in record %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}


<p> Please enter a title keyword into the submission box. </p>
<img src="https://i.imgflip.com/1h17po.jpg" alt="Finding" width="1100" height="1000" border="0">
{% endif %}

</html>