<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>

    <section>
        <center><h1>Trending Videos Summary Table</h1></center>
    <center><p>Observe the basic descriptive statistics of Trending Youtube videos.</p></center>
    </section>

    <div><center>
        <form method='POST'>
            <input name='text'>
            <input type='submit'>
        </form></center>
        <div>

</body>

{% if output %} {% for entry in output %}
<ul>
    <li>{{entry }} </li>
</ul>
{% endfor %}

{% else %}
<h1>Sorry, looks like that is not a keyword!</h1>
{% endif %}

</html>