<!DOCTYPE html>
<html>

<head>
    <title>Trending Videos Basic Information</title>
    <link rel="icon" href="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube-icon-our_icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">

</head>

<body>

    <header class="inner"  style="background-color: black;
    padding: 30px;
    text-align: center;
    width: 100%;
    font-size: 35px;
    color: white; ! important">
        <h1>Password? Just kidding</h1>
    </header>

        <nav>
                <h1>Directory</h1>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/search">Search the Database</a>
                    </li>
                    <li>
                            <a href="/query">Query the Database</a>
                    </li>
                    <li>
                        <a href="/analytics">Database Insights</a>
                    </li>
                    <li>
                        <a href="/password">The Super Secret Password</a>
                    </li>
                </ul>
            </nav>
<img src="https://i.kym-cdn.com/entries/icons/facebook/000/019/649/OK_thumb.jpg" alt="OKayyy" width="200" height="200"
    border="0">

</body>
    
</html>